# this is an example for a thin config file

--- 
pid: /tmp/pids/thin.pid 
socket: /tmp/thin_frankyshares.sock
# port: 3333
log: log/thin.log
max_conns: 1024
timeout: 30
rackup: config.ru
chdir: /home/ahaller/apps/frankyshares
environment: production
max_persistent_conns: 512
servers: 2
daemonize: true
