body {
background-color: #F6F;
color: #000;
font-size: 130%;
}
body,p,ol,ul,td,th {
font-family: helvetica,sans-serif;
}
img {
border: 0;
}
a,a:visited {
color: #000;
}
a:hover {
color: #fff;
background-color: #222;
}
.light-description {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter:alpha(opacity=60);
}
input[type=submit].upload_file {
width: 20em;
}
#page {
width: 30em;
margin: 0 auto;
}
#site-title a,#site-title a:visited,#site-title a:hover {
text-decoration: none;
color: inherit;
background-color: inherit;
}
